.basket_intro {
    padding: 10px;
    border-bottom: 1px solid rgb(68, 68, 68);
}

.container {
    background: white;
    display: flex;
}

.basketItems {
    flex-grow: 9;
    min-height: 200px;
}

.subtotal {
    flex-grow: 1;
}